<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p

<h1>Health Research</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to "Diseases", diseases_path %></td>
    </tr>
  </tbody>
</table>
